In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        
rec = pd.read_csv('/kaggle/input/updated-wk4/nfl pass catchers - week 4 (1).csv', header=0)
rec.head()

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/updatedwk4passing/nfl passers 2024 - Accuracy (2).csv
/kaggle/input/passers-week-3/nfl passers 2024 - Accuracy.csv
/kaggle/input/week-4/nfl pass catchers - week 4.csv
/kaggle/input/wk4-passing/nfl passers 2024 - Accuracy (1).csv
/kaggle/input/updated-wk4/nfl pass catchers - week 4 (1).csv
/kaggle/input/week-3/nfl pass catchers - week 3.csv
/kaggle/input/week-2-passing/pass catchers through week 2 - Sheet1.csv

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Yds,...,YBC/R,YAC,YAC/R,ADOT,BrkTkl,Rec/Br,Drop,Drop%,Int,Rat
0,1,Malik Nabers,NYG,21,WR,4,3,52,35,386,...,6.6,156,4.5,9.1,2,17.5,3,5.8,0,108.3
1,2,Nico Collins,HOU,25,WR,4,4,43,30,489,...,10.6,171,5.7,11.3,2,15.0,1,2.3,1,113.4
2,3,Chris Godwin,TAM,28,WR,4,4,34,27,322,...,5.0,188,7.0,6.1,1,27.0,1,2.9,0,135.5
3,4,Amon-Ra St. Brown,DET,25,WR,4,4,38,27,252,...,6.9,67,2.5,7.7,1,27.0,2,5.3,1,95.5
4,5,Wan'Dale Robinson,NYG,23,WR,4,0,38,26,194,...,3.6,100,3.8,4.7,3,8.7,2,5.3,1,78.2

In [2]:
print(rec.columns)

Index(['Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'Tgt', 'Rec', 'Yds',
       'TD', '1D', 'YBC', 'YBC/R', 'YAC', 'YAC/R', 'ADOT', 'BrkTkl', 'Rec/Br',
       'Drop', 'Drop%', 'Int', 'Rat'],
      dtype='object')

**Column Meanings:**
Age -- Player's age on December 31st of that year  
Pos -- Position  
G -- Games played  
GS -- Games started as an offensive or defensive player  
Tgt -- Pass Targets (since 1992, derived from NFL play-by-play data)  
Rec -- Receptions  
Yds -- Receiving Yards  
TD -- Receiving Touchdowns  
1D -- First downs receiving  
YBC -- Total yards passes traveled in the air before being caught  
YBC/R -- Yards before catch per reception  
YAC -- Yards after catch  
YAC/R -- Yards after catch per reception  
ADOT -- Average depth of target when targeted, whether completed or not. 25 targets/16 game pace required for leaderboards.  
BrkTkl -- Broken tackles on receptions  
Rec/Br -- Receptions per broken tackle  
Drop -- Dropped passes  
Drop% -- Dropped passes per target  
Int -- Interceptions on passes where targeted  
Rat -- Passer rating on passes when targeted. 25 targets/16 game pace required for leaderboards.

In [3]:
# Group by position
grouped_rec = rec.groupby('Pos')
rb_rec = grouped_rec.get_group('RB')
wr_rec = grouped_rec.get_group('WR')
te_rec = grouped_rec.get_group('TE')
rb_rec.head()

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Yds,...,YBC/R,YAC,YAC/R,ADOT,BrkTkl,Rec/Br,Drop,Drop%,Int,Rat
13,14,De'Von Achane,MIA,23,RB,4,3,22,20,187,...,-0.8,203,10.2,-0.8,1,20.0,0,0.0,0,117.2
27,28,Breece Hall,NYJ,23,RB,4,4,24,18,134,...,1.0,116,6.4,1.9,1,18.0,2,8.3,0,101.7
34,35,Jerome Ford,CLE,25,RB,4,3,20,17,85,...,-2.1,120,7.1,-0.6,4,4.3,1,5.0,0,84.4
37,38,Alvin Kamara,NOR,29,RB,4,4,20,17,174,...,0.9,158,9.3,0.8,1,17.0,2,10.0,0,119.6
45,46,Justice Hill,BAL,27,RB,4,0,18,16,161,...,-0.3,166,10.4,-0.6,2,8.0,0,0.0,0,122.5

In [4]:
wr_rec.head()

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Yds,...,YBC/R,YAC,YAC/R,ADOT,BrkTkl,Rec/Br,Drop,Drop%,Int,Rat
0,1,Malik Nabers,NYG,21,WR,4,3,52,35,386,...,6.6,156,4.5,9.1,2,17.5,3,5.8,0,108.3
1,2,Nico Collins,HOU,25,WR,4,4,43,30,489,...,10.6,171,5.7,11.3,2,15.0,1,2.3,1,113.4
2,3,Chris Godwin,TAM,28,WR,4,4,34,27,322,...,5.0,188,7.0,6.1,1,27.0,1,2.9,0,135.5
3,4,Amon-Ra St. Brown,DET,25,WR,4,4,38,27,252,...,6.9,67,2.5,7.7,1,27.0,2,5.3,1,95.5
4,5,Wan'Dale Robinson,NYG,23,WR,4,0,38,26,194,...,3.6,100,3.8,4.7,3,8.7,2,5.3,1,78.2

In [5]:
te_rec.head()

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Yds,...,YBC/R,YAC,YAC/R,ADOT,BrkTkl,Rec/Br,Drop,Drop%,Int,Rat
7,8,Dallas Goedert,PHI,29,TE,4,4,28,24,301,...,5.6,167,7.0,6.1,1,24.0,1,3.6,0,111.5
14,15,Brock Bowers,LVR,22,TE,4,3,24,20,216,...,5.9,98,4.9,5.7,2,10.0,1,4.2,0,104.2
29,30,Cole Kmet,CHI,25,TE,4,3,20,18,162,...,6.6,44,2.4,8.2,0,NaN,0,0.0,1,96.2
35,36,Pat Freiermuth,PIT,26,TE,4,2,20,17,156,...,4.6,78,4.6,5.0,1,17.0,1,5.0,0,115.8
44,45,Jake Ferguson,DAL,25,TE,3,3,23,16,159,...,5.5,71,4.4,6.1,0,NaN,0,0.0,0,88.9

In [6]:
# List of columns to normalize
cols = [
    'Player', 'Tgt', 'Rec', 'Yds', 'TD', '1D', 'YBC',
    'YAC', 'ADOT', 'BrkTkl', 'Drop%', 'Drop',
    'Int', 'Rat'
]

weights_wr = {
    'Tgt': 0.2,
    'Rec': 0.2,
    'Yds': 0.1,
    'TD': 0.3,
    '1D': 0.05,
    'YBC': 0.05,
    'YAC': 0.1,
    'ADOT': 0.05,
    'BrkTkl': 0.05,
    'Drop%': -0.25,
    'Int': -0.05,
    'Rat': 0.05
}

# Calculate weighted score
wr_rec['Score'] = sum(wr_rec[col] * weight for col, weight in weights_wr.items())

# Sort by score in descending order
ranked_wr = wr_rec.sort_values(by='Score', ascending=False)

# Get top 10 WR
top_10_wr = ranked_wr.head(10)
top_10_wr[cols].head()

/tmp/ipykernel_18/1695051736.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wr_rec['Score'] = sum(wr_rec[col] * weight for col, weight in weights_wr.items())

,Player,Tgt,Rec,Yds,TD,1D,YBC,YAC,ADOT,BrkTkl,Drop%,Drop,Int,Rat
1,Nico Collins,43,30,489,2,25.0,318,171,11.3,2,2.3,1,1,113.4
0,Malik Nabers,52,35,386,3,19.0,230,156,9.1,2,5.8,3,0,108.3
8,D.K. Metcalf,36,24,366,2,11.0,230,136,12.3,1,5.6,2,0,118.5
2,Chris Godwin,34,27,322,3,21.0,134,188,6.1,1,2.9,1,0,135.5
15,Justin Jefferson,29,20,358,4,14.0,238,120,12.3,0,6.9,2,0,150.6

In [7]:
# List of columns to normalize
cols = [
    'Player', 'Tgt', 'Rec', 'Yds', 'TD', '1D', 'YBC',
    'YAC', 'ADOT', 'BrkTkl', 'Drop%', 'Drop',
    'Int', 'Rat'
]


weights_te = {
    'Tgt': 0.15,
    'Rec': 0.2,
    'Yds': 0.15,
    'TD': 0.2,
    '1D': 0.1,
    'YBC': 0.05,
    'YAC': 0.1,
    'ADOT': 0.05,
    'BrkTkl': 0.1,
    'Drop%': -0.25,
    'Int': -0.05,
    'Rat': 0.1

}

# Calculate weighted score
te_rec['Score'] = sum(te_rec[col] * weight for col, weight in weights_te.items())

# Sort by score in descending order
ranked_te = te_rec.sort_values(by='Score', ascending=False)

# Get top 10 WR
top_10_te = ranked_te.head(10)
top_10_te[cols].head()

/tmp/ipykernel_18/2090748309.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te_rec['Score'] = sum(te_rec[col] * weight for col, weight in weights_te.items())

,Player,Tgt,Rec,Yds,TD,1D,YBC,YAC,ADOT,BrkTkl,Drop%,Drop,Int,Rat
7,Dallas Goedert,28,24,301,0,8.0,134,167,6.1,1,3.6,1,0,111.5
14,Brock Bowers,24,20,216,0,11.0,118,98,5.7,2,4.2,1,0,104.2
56,George Kittle,17,15,161,2,8.0,101,60,7.2,0,0.0,0,0,145.3
71,Isaiah Likely,18,13,167,1,8.0,67,100,8.7,0,5.6,1,0,119.4
35,Pat Freiermuth,20,17,156,1,8.0,78,78,5.0,1,5.0,1,0,115.8

In [8]:
# List of columns to normalize
cols = [
    'Player', 'Tgt', 'Rec', 'Yds', 'TD', '1D', 'YBC',
    'YAC', 'YAC/R', 'ADOT', 'BrkTkl', 'Drop%', 'Drop',
    'Int', 'Rat'
]


weights_rb = {
    'Tgt': 0.2,
    'Rec': 0.25,
    'Yds': 0.2,
    'TD': 0.15,
    '1D': 0.1,
    'YBC': 0.05,
    'YAC': 0.1,
    'ADOT': 0.05,
    'BrkTkl': 0.1,
    'Drop%': -0.25,
    'Int': -0.05,
    'Rat': 0.01
}

# Calculate weighted score
rb_rec['Score'] = sum(rb_rec[col] * weight for col, weight in weights_rb.items())

# Sort by score in descending order
ranked_rb = rb_rec.sort_values(by='Score', ascending=False)

# Get top 10 WR
top_10_rb = ranked_rb.head(10)
top_10_rb[cols].head()

/tmp/ipykernel_18/1031974494.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rb_rec['Score'] = sum(rb_rec[col] * weight for col, weight in weights_rb.items())

,Player,Tgt,Rec,Yds,TD,1D,YBC,YAC,YAC/R,ADOT,BrkTkl,Drop%,Drop,Int,Rat
13,De'Von Achane,22,20,187,1,8.0,-16,203,10.2,-0.8,1,0.0,0,0,117.2
37,Alvin Kamara,20,17,174,1,4.0,16,158,9.3,0.8,1,10.0,2,0,119.6
45,Justice Hill,18,16,161,1,8.0,-5,166,10.4,-0.6,2,0.0,0,0,122.5
46,Aaron Jones,19,16,143,1,5.0,-19,162,10.1,0.3,0,0.0,0,1,93.6
66,Rachaad White,16,14,133,0,4.0,-49,182,13.0,-3.6,2,0.0,0,0,101.3

In [9]:
passing = pd.read_csv('/kaggle/input/updatedwk4passing/nfl passers 2024 - Accuracy (2).csv')
print(passing.head())
print(passing.columns)

   Rk        Player   Tm  Age Pos  G  GS  Cmp  Att   Yds  Bats  ThAwy  Spikes  \
0   1    Geno Smith  SEA   34  QB  4   4  115  159  1182     1      4       1
1   2   Brock Purdy  SFO   25  QB  4   4   84  122  1130     1      1       0
2   3  Dak Prescott  DAL   31  QB  4   4   96  149  1072     3      1       1
3   4   C.J. Stroud  HOU   23  QB  4   4   94  139  1054     2      4       1
4   5    Jared Goff  DET   30  QB  4   4   88  124  1015     1      2       1

   Drops  Drop%  BadTh    Bad%  OnTgt  OnTgt%
0      6  3.90%     17  11.00%    121  78.60%
1      5  4.10%     17  14.00%     97  80.20%
2      3  2.00%     24  16.30%    108  73.50%
3      5  3.70%     22  16.40%    106  79.10%
4      3  2.50%     19  15.70%     96  79.30%
Index(['Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'Cmp', 'Att', 'Yds',
       'Bats', 'ThAwy', 'Spikes', 'Drops', 'Drop%', 'BadTh', 'Bad%', 'OnTgt',
       'OnTgt%'],
      dtype='object')

In [10]:
passing['TrueCmp%'] = passing['Cmp'] / (passing['Att'] - passing['Spikes'])
passing['Score'] = (passing['TrueCmp%'] * 3) + (passing['Yds'] * 1.25) + (passing['Drops'] * 2) + (passing['BadTh'] * -3) + (passing['OnTgt'] * 3)
ranked_qb = passing.sort_values(by='Score', ascending=False)
col = ['Player', 'Tm', 'Att', 'TrueCmp%', 'Yds', 'Drops', 'BadTh', 'OnTgt%']
ranked_qb[col].head(5)

         Player   Tm  Att  TrueCmp%   Yds  Drops  BadTh  OnTgt%
0    Geno Smith  SEA  159  0.727848  1182      6     17  78.60%
1   Brock Purdy  SFO  122  0.688525  1130      5     17  80.20%
2  Dak Prescott  DAL  149  0.648649  1072      3     24  73.50%
3   C.J. Stroud  HOU  139  0.681159  1054      5     22  79.10%
4    Jared Goff  DET  124  0.715447  1015      3     19  79.30%